@model Scribble.Web.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@Model.UrlTitle</title>
    </head>
    <body>
        <div>
            <p>@Model.UrlTitle</p>
            <p>@Model.Date</p>
        </div>
    </body>
</html>