@model Scribble.Web.Controllers.PostListViewModel

<h1>@Model.Title</h1>

@foreach (var post in Model.Posts)
{
    <article>
        <h2>
            @Html.ActionLink(post.Title, "Single", new { year = post.Date.Year, month = post.Date.Month.ToString("00"), urlTitle = post.UrlTitle })
        </h2>

        @Html.Raw(post.Teaser) @Html.ActionLink("Continue reading...", "Single", new { year = post.Date.Year, month = post.Date.Month.ToString("00"), urlTitle = post.UrlTitle })
    </article>
}
