@model IList<Scribble.Web.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <dl>
        @foreach (var post in Model)
        {
            <dt>@post.Title</dt>
            <dd>@post.Date</dd>
        }
    </dl>
</body>
</html>