@model IList<Scribble.Web.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @foreach (var post in Model)
            {
                <p>@post.UrlTitle</p>
                <p>@post.Date</p>
            }
        </div>
    </body>
</html>